<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <!-- <div id="app">
        {{ message }}
        <div>
            {{ message + foo[0] }}
        </div> 
        <span>
            {{ str }}
        </span>
    </div>  -->

  <!-- <hr />
    <div id="app-2">
        <span 
            v-bind:class="className"
            v-bind:title="message">
            attr <br /> example
        </span>
    </div>

    <hr /> -->

    <!-- <div id="app-3">
        <span v-if="seen">Сейчас меня видно</span>
    </div> -->
 
    <!-- <hr />

    <div id="app-4">
        <ol>
            <li 
                v-if="item.text && item.text != ' '"
                v-for="item in list">
                {{ item.text }}
            </li>
        </ol>
    </div>

    <hr> -->
    <!-- <div id="app-5">
        <p>{{ message }}</p>
        <p v-if="NeedHide()">Hide after 3 clicks; Inner: {{ bar() }}</p>
        <button v-on:click="clickMeEvent">Click me</button>
    </div>

    <hr> -->

     <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
<!--
    <hr>

    <hr>

    <hr>  -->

    <!-- <hr>
    -->
    <script src="./main.js"></script>
</body>
</html>